<a href="https://colab.research.google.com/github/JosephJDowd/Test_presentation/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Exercise 1**

In [ ]:
#1 Question: "Write the code to read a CSV file into a Pandas DataFrame."
import pandas as pd

dataframe = pd.read_csv("/content/drive/MyDrive/student.csv")

dataframe.info()


# Select a column

#dataframe['name'] # returns a Series = 1 column
#print(type(dataframe['name']))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    34 non-null     object
 2   class   34 non-null     object
 3   mark    35 non-null     int64
 4   gender  33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [ ]:
# Select multiple columns
dataframe[['id', 'name']] # returns a DataFrame

#2 Question: "Write the code to display the first 5 rows of the DataFrame."

# Select n first rows of a dataframe
dataframe.head()

# Select n last rows of a dataframe (n = 5 by default)
dataframe.tail()


#3 Question: "Write the code to get the information about the DataFrame."
dataframe.info()


#4 Question: "Write the code to get summary statistics for the DataFrame."
dataframe.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    34 non-null     object
 2   class   34 non-null     object
 3   mark    35 non-null     int64
 4   gender  33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

              id       mark
count  35.000000  35.000000
mean   18.000000  74.657143
std    10.246951  16.401117
min     1.000000  18.000000
25%     9.500000  62.500000
50%    18.000000  79.000000
75%    26.500000  88.000000
max    35.000000  96.000000

**Exercise 2**

In [ ]:
#1 Question: "Write the code to select the 'name' column."
#dataframe['name']

#2 Question: "Write the code to select the 'name' and 'mark' columns."
dataframe.loc[:,['name', 'mark']]

#3 Question: "Write the code to select the first 3 rows."
#dataframe.head(3)
#dataframe.iloc[:3]

#4 Question: "Write the code to select all rows where the 'class' is 'Four'."

#dataframe['class'] == "Four"

KeyError: "['mark'] not in index"

**Exercise 3**

In [ ]:
#2 Question: "Write the code to rename the 'mark' column to 'score'."
#dataframe.rename(columns={'mark': 'score'}, inplace=True)
#print(dataframe)


#1 Question: "Write the code to add a new column 'passed' that indicates whether the student passed (score >= 60)."
#dataframe['passed'] = dataframe['score'] >= 60
#print(dataframe)


#3 Question: "Write the code to drop the 'passed' column."
#dataframe.drop(columns=['passed'], inplace=True)
#print(dataframe)

    id         name  class  score  gender
0    1     John Deo   Four     75  female
1    2     Max Ruin  Three     85    male
2    3       Arnold  Three     55    male
3    4   Krish Star   Four     60  female
4    5    John Mike   Four     60  female
5    6    Alex John   Four     55    male
6    7  My John Rob  Fifth     78    male
7    8       Asruid   Five     85    male
8    9      Tes Qry    Six     78     NaN
9   10     Big John   Four     55  female
10  11       Ronald    Six     89  female
11  12        Recky    Six     94  female
12  13          Kty  Seven     88  female
13  14         Bigy  Seven     88  female
14  15     Tade Row    NaN     88    male
15  16        Gimmy   Four     88    male
16  17        Tumyu    Six     54    male
17  18        Honny   Five     75    male
18  19        Tinny   Nine     18    male
19  20       Jackly   Nine     65  female
20  21   Babby John   Four     69  female
21  22       Reggid  Seven     55  female
22  23        Herod  Eight     79    male
23  24    Tiddy Now  Seven     78    male
24  25     Giff Tow  Seven     88    male
25  26       Crelea  Seven     79    male
26  27          NaN  Three     81     NaN
27  28    Rojj Base  Seven     86  female
28  29  Tess Played  Seven     55    male
29  30    Reppy Red    Six     79  female
30  31  Marry Toeey   Four     88    male
31  32    Binn Rott  Seven     90  female
32  33    Kenn Rein    Six     96  female
33  34     Gain Toe  Seven     69    male
34  35   Rows Noump    Six     88  female
    id         name  class  score  gender  passed
0    1     John Deo   Four     75  female    True
1    2     Max Ruin  Three     85    male    True
2    3       Arnold  Three     55    male   False
3    4   Krish Star   Four     60  female    True
4    5    John Mike   Four     60  female    True
5    6    Alex John   Four     55    male   False
6    7  My John Rob  Fifth     78    male    True
7    8       Asruid   Five     85    male    True
8    9      Tes Qry    Six     78     NaN    True
9   10     Big John   Four     55  female   False
10  11       Ronald    Six     89  female    True
11  12        Recky    Six     94  female    True
12  13          Kty  Seven     88  female    True
13  14         Bigy  Seven     88  female    True
14  15     Tade Row    NaN     88    male    True
15  16        Gimmy   Four     88    male    True
16  17        Tumyu    Six     54    male   False
17  18        Honny   Five     75    male    True
18  19        Tinny   Nine     18    male   False
19  20       Jackly   Nine     65  female    True
20  21   Babby John   Four     69  female    True
21  22       Reggid  Seven     55  female   False
22  23        Herod  Eight     79    male    True
23  24    Tiddy Now  Seven     78    male    True
24  25     Giff Tow  Seven     88    male    True
25  26       Crelea  Seven     79    male    True
26  27          NaN  Three     81     NaN    True
27  28    Rojj Base  Seven     86  female    True
28  29  Tess Played  Seven     55    male   False
29  30    Reppy Red    Six     79  female    True
30  31  Marry Toeey   Four     88    male    True
31  32    Binn Rott  Seven     90  female    True
32  33    Kenn Rein    Six     96  female    True
33  34     Gain Toe  Seven     69    male    True
34  35   Rows Noump    Six     88  female    True
    id         name  class  score  gender
0    1     John Deo   Four     75  female
1    2     Max Ruin  Three     85    male
2    3       Arnold  Three     55    male
3    4   Krish Star   Four     60  female
4    5    John Mike   Four     60  female
5    6    Alex John   Four     55    male
6    7  My John Rob  Fifth     78    male
7    8       Asruid   Five     85    male
8    9      Tes Qry    Six     78     NaN
9   10     Big John   Four     55  female
10  11       Ronald    Six     89  female
11  12        Recky    Six     94  female
12  13          Kty  Seven     88  female
13  14         Bigy  Seven     88  female
14  15     Tade Row    NaN     88    male
15  16        Gimmy   Four     88    male
16  17        Tumyu    Six     54    male
17  18        Honny   Five     75    male
18  19        Tinny   Nine     18    male
19  20       Jackly   Nine     65  female
20  21   Babby John   Four     69  female
21  22       Reggid  Seven     55  female
22  23        Herod  Eight     79    male
23  24    Tiddy Now  Seven     78    male
24  25     Giff Tow  Seven     88    male
25  26       Crelea  Seven     79    male
26  27          NaN  Three     81     NaN
27  28    Rojj Base  Seven     86  female
28  29  Tess Played  Seven     55    male
29  30    Reppy Red    Six     79  female
30  31  Marry Toeey   Four     88    male
31  32    Binn Rott  Seven     90  female
32  33    Kenn Rein    Six     96  female
33  34     Gain Toe  Seven     69    male
34  35   Rows Noump    Six     88  female

**Exercise 4**

In [ ]:
#1 Question: "Write the code to group the DataFrame by the 'class' column and calculate the mean 'mark' for each group."
mean_marks = dataframe.groupby('class')['mark'].mean()
print(mean_marks)


#2 Question: "Write the code to count the number of students in each class."
student_count = dataframe.groupby('class')['name'].count()
print(student_count)

#3 Question: "Write the code to calculate the average mark for each gender."
avg_mark_gender = dataframe.groupby('gender')['mark'].mean()
print(avg_mark_gender)

gender
female    77.312500
male      71.588235
Name: mark, dtype: float64

**EXTRA NOTES**

In [ ]:
#Slicing
# my_list = ["Micayla", "Mehul", "Jack", "Sara", "Tooba", "Kolyu", "Patrick"]
# print(my_list[0:2]) # end index is exclusive
# print(my_list[0:5:2]) # start:stop:steps
# print(my_list[2:]) # start at index 2 until end of list
# print(my_list[:3]) # until index 3 non included

# dataframe.info()
# dataframe[['id', 'name']]
# dataframe.loc[rows, columns]
# dataframe.loc[:, 'id':'class']
# dataframe.loc[:, ['id', 'name']]
# dataframe.loc[:, 'id']

# dataframe.loc[0:3, 'id':'name'] # df.loc is inclusive
# dataframe.iloc[0:3, 0:2] # df.iloc is exclusive

# dataframe.info()
# dataframe['class']
# # SELECT * FROM dataframe WHERE dataframe.series == Four;
dataframe[dataframe['class'] == "Four"]

# # SELECT * FROM dataframe WHERE dataframe.series == Four AND dataframe.series > 60
#dataframe[(dataframe['class'] == "Four") & (dataframe['mark'] > 60)]

# # SELECT * FROM dataframe WHERE dataframe.series == Four OR dataframe.series > 60
mark_gt_60 = dataframe[(dataframe['class'] == "Four") | (dataframe['mark'] > 60)].loc[:, 'id':'mark']

# Get shape of dataframe
dataframe.shape

KeyError: 'mark'

In [ ]:
# Check for nulls
dataframe.isnull()

# Number of nulls per column
dataframe.isnull().sum()

# Number of nulls in a dataframe
# dataframe.isnull() -> returns a dataframe of True and False where True
# = Empty value.sum() -> Performs a sum of all values per column
# where True = 1 and False = 0 -> Returns a Series. sum() -> Performs a sum of all rows.
dataframe.isnull().sum().sum()

np.int64(4)

In [ ]:
# Slicing
my_list = ["Micayla", "Mehul", "Jack", "Sara", "Tooba", "Kolyu", "Patrick"]
print(my_list[0:2]) # end index is exclusive
print(my_list[0:5:2]) # start:stop:steps
print(my_list[2:]) # start at index 2 until end of list
print(my_list[:3]) # until index 3 non included

dataframe.info()
dataframe[['id', 'name']]
# dataframe.loc[rows, columns]
dataframe.loc[:, 'id':'class']
dataframe.loc[:, ['id', 'name']]
dataframe.loc[:, 'id']

dataframe.loc[0:3, 'id':'name'] # df.loc is inclusive
dataframe.iloc[0:3, 0:2] # df.iloc is exclusive

['Micayla', 'Mehul']
['Micayla', 'Jack', 'Tooba']
['Jack', 'Sara', 'Tooba', 'Kolyu', 'Patrick']
['Micayla', 'Mehul', 'Jack']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    34 non-null     object
 2   class   34 non-null     object
 3   mark    35 non-null     int64
 4   gender  33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

   id      name
0   1  John Deo
1   2  Max Ruin
2   3    Arnold