<a href="https://colab.research.google.com/github/JosephJDowd/Test_presentation/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
VarName = "joe"
print(VarName.capitalize())

Joe

In [ ]:
#2
Furniture = "Chairs"
Housemates = "People in House"
Furniture = 10
Housemates = 6
print (Furniture / Housemates)

1.6666666666666667

In [ ]:
#3a
Friends = ["Liam", "Connor", "Richard", "George"]
print(Friends[0])

#3b
print(Friends[2])

Liam
Richard

In [ ]:
#4a
Me = {
     "Name":"Joe",
     "Nails":"10",
     "Nail_Colour":
     "None", "Shoes":8
  }

In [ ]:
#5a
for key, value in Me.items():
  if key == "Name":    #
    print(value)    #

Joe

In [ ]:
#5b
nails = int(Me["Nails"])
shoes = Me["Shoes"]

print(shoes / nails)

0.8

In [ ]:
#6
for name in Friends:
  print(name.lower())

liam
connor
richard
george

In [ ]:
#7
for key, value in Me.items():
  print(key, value)

Name Joe
Nails 10
Nail_Colour None
Shoes 8

In [ ]:
bearded_dragon = {
    "species": "reptile",
    "legs": 4,
    "favorite_food": "crickets",
    "likes_heat": True,
    "owners": [
        {
            "name": "Sebastien",
            "occupation": "Online instructor",
            "level_of_love_for_animal": "10"
        },
        {
            "name": "Celine Dion",
            "occupation": "Being rich",
            "level_of_love_for_animal": "1"
        }
    ]
}

unsatified_cat = {
    "species": "mammal",
    "legs": 4,
    "favorite_food": "uncertain",
}

animals = [bearded_dragon, unsatified_cat]
for animal in animals:
  print(animal)
  for key, value in animal.items():
    print(f"{key.capitalize()}: {value}")

{'species': 'reptile', 'legs': 4, 'favorite_food': 'crickets', 'likes_heat': True, 'owners': [{'name': 'Sebastien', 'occupation': 'Online instructor', 'level_of_love_for_animal': '10'}, {'name': 'Celine Dion', 'occupation': 'Being rich', 'level_of_love_for_animal': '1'}]}
Species: reptile
Legs: 4
Favorite_food: crickets
Likes_heat: True
Owners: [{'name': 'Sebastien', 'occupation': 'Online instructor', 'level_of_love_for_animal': '10'}, {'name': 'Celine Dion', 'occupation': 'Being rich', 'level_of_love_for_animal': '1'}]
{'species': 'mammal', 'legs': 4, 'favorite_food': 'uncertain'}
Species: mammal
Legs: 4
Favorite_food: uncertain

LIST EXERCISE

In [ ]:
my_list = [10, 20, 30, 40, 50]
print("Initial list:", my_list)

Initial list: [10, 20, 30, 40, 50]

In [ ]:
print("Third item: ", my_list[2])

list_length = len(my_list)
print("Length of the list:", list_length)

if list_length == 0:
  print("list is empty")
else:
  print("list is not empty")

Third item:  30
Length of the list: 5
list is not empty

In [ ]:
condition = "snake"

match condition:
  case "dog":
    print("This is not a cat!")
  case "cat":
    print("This IS a cat")
  case _:
    print("This is default behaviour")

if condition == "dog" and type(condition) == str: # or and group them with parenthesis
  print("The string contained the word dog")

This is default behaviour

**Exercise 2: Perform List Manipulation**

In [ ]:
my_list = [10, 20, 30, 40, 50]
print("Initial list:", my_list)

Initial list: [10, 20, 30, 40, 50]

In [ ]:
my_list[1] = 200
print("After changing second element:", my_list)

After changing second element: [10, 200, 30, 40, 50]

In [ ]:
my_list.append (600)
print("List after appending 600:", my_list)

List after appending 600: [10, 200, 30, 40, 600, 600, 600]

In [ ]:
my_list[2] = 300
print("After inserting ")

DAY 2 TASK **1**

In [ ]:
#FizzBuzz program

for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("fizzbuzz")

    elif i % 3 == 0:
      print("fizz")
    elif i % 5 == 0:
      print("buzz")

    else:
      print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz